{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "quotes": "off",
        "indent": "off",
        "max-len": "off",
        "eol-last": "off",
        "comma-dangle": "off",
        "arrow-parens": "off",
        "arraysInObjects": "off",
        "objectsInObjects": "false",
        "FunctionDeclaration": "true",
        "allowSingleLineBlocks": false,
        "semi": 0,
        "require-jsdoc": 0,
        "padded-blocks": [
            2,
            "never"
        ],
        "valid-jsdoc": 0,
        "no-space-before-semi": 0,
        "MethodDefinition": "off",
        "ClassDeclaration": "off",
        "ArrowFunctionExpression": "off",
        "FunctionExpression": "off"
    },
    "extends": [
        "eslint:recommended",
        "google"
    ]
}