{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "quotes": "off",
        "indent": "off",
        "max-len": "off",
        "eol-last": "off",
        "comma-dangle": "off",
        "arrow-parens": "off",
        "arraysInObjects": "false",
        "objectsInObjects": "false",
        "FunctionDeclaration": "true",
        "MethodDefinition": "off",
        "ClassDeclaration": "off",
        "ArrowFunctionExpression": "off",
        "FunctionExpression": "off"
    },
    "extends": [
        "eslint:recommended",
        "google"
    ]
}